<template name="home">
  {{#contentFor "headerTitle"}}                                                          
    <h1 class="title">Pik Pak</h1>                                                         
  {{/contentFor}}                                                                        
   {{#ionView}}
    {{> _tabsHeader}}

    {{#ionContent class="padding scroll-bg"}}
      {{#each pictures pos}}
       <div class="list card">
          <div class="item item-image">
            <img data-id="{{_id}}" class="full-image js-pic-show" src="{{pic}}"/>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-heart"></i>
                Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
                Comment
            </a>
          </div>
        </div>
      {{/each}}
    {{/ionContent}}

    {{> _tabs}}
  {{/ionView}}
</template>
