<template name="me">
  {{#contentFor "headerButtonLeft"}}                                                     
    {{>ionNavBackButton path="home"}}                                                   
  {{/contentFor}}                                                                        
  {{#contentFor "headerTitle"}}                                                          
    <h1 class="title">Me</h1>                                                         
  {{/contentFor}}                                                                        
  {{#ionView}}

    {{#ionContent class="padding"}}
      {{#ionList}}
        {{#each myItems}}
          {{#ionItem buttonRight=true}}
            <h2>My {{this}}</h2>
            <button class="button button-clear js-my-{{this}}">{{> ionIcon icon="chevron-right"}}</button>
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}

  {{/ionView}}
</template>
