<template name="settings">
  {{#contentFor "headerButtonLeft"}}                                                     
    {{>ionNavBackButton path="home"}}                                                   
  {{/contentFor}}                                                                        
  {{#contentFor "headerTitle"}}                                                          
    <h1 class="title">Settings</h1>                                                         
  {{/contentFor}}                                                                        
  {{#ionView}}
    {{> _tabsHeader}}

    {{#ionContent class="padding"}}
      {{#ionList}}
        <div class="item item-toggle">
          Global Mode
          <label class="toggle">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
      {{/ionList}}
    {{/ionContent}}

    {{> _tabs}}
  {{/ionView}}
</template>
